
        <h1 class="title-event">
            Οι εκδηλώσεις μας
        </h1>
        {{#if ourevents}}
            {{#each ourevents}}
                <div class="event">
                    <h2>
                        <em>{{Name}}</em><a href="/events/edit"><button onclick="editEvent(this)" class="Edit">Edit</button></a><button onclick="deleteEvent(this)" id="{{Name}}" class="Delete">Delete</button>
                    </h2>
                    <div class="container-event">
                        <p>{{Description}}</p>
                        <img id="event-img" src={{Picture}} alt="Image about {{Name}}">
                    </div>
                </div>
            {{/each}}
        {{/if}}
        <a href="/insert-event"><button class="Insert">Create a new event</button></a>