        <h1 class="title-event">
            Οι εκδηλώσεις μας
        </h1>
        {{#if ourevents}}
            {{#each ourevents}}
                <div class="event">
                    <h2>
                        <em>{{Name}}</em><a href="/events/edit" {{#if atEdit}}style="text-decoration: underline;"{{/if}}><button class="Edit">Edit</button></a><a href="/events/delete"><button id="{{Name}}" class="Delete">Delete</button></a>
                    </h2>
                    <div class="container-event">
                        <p>{{Description}}</p>
                        <img id="event-img" src={{Picture}} alt="Image about {{Name}}">
                    </div>
                </div>
            {{/each}}
        {{/if}}
        <a href="/events/insert" {{#if atInsert}}style="text-decoration: underline;"{{/if}}><button class="Insert">Create a new event</button></a>